/*==========  Desktop First Method  ==========*/
@media only screen and (max-width : 1800px) {
	.list-tags a {
		padding: 2px 10px;
	}
	.fixed .header-bottom__buttons {
		margin-left: 44px;
	}
}
@media only screen and (max-width : 1700px) {
	.container {
		padding: 0 40px;
	}
	.logo__descr {
		font-size: 14px;
	}
	.logo__name {
		font-size: 19px;
	}
	.form-search,
	.btn-header {
		margin-left: 27px;
	}
	.slick-current .slider-billbord__title {
		font-size: 27px;
	}
	.slider-billbord {
		height: 470px;
	}
	.social-vertical li {
		margin-top: 25px;
	}
	.news-image .title-news, .min-news .title-news {
		font-size: 16px;
		line-height: 24px;
		margin-bottom: 30px;
	}
	.title-news {
		font-size: 17px;
	}
	.list-tags a {
		padding: 2px 8px;
		font-size: 13px;
	}
	.news-image {
		height: 220px;
		margin-bottom: 25px;
	}
	.item-direction {
		padding: 22px;
		font-size: 16px;
		min-height: 230px;
	}
	.slider-publications .slick-slide {
		padding: 35px 15px;
	}
	.publications {
		padding-bottom: 50px;
	}
	.list-page {
		font-size: 22px;
	}
	.vacancy .list-page {
		max-width: 720px;
	}
	.list-page li {
		margin-bottom: 20px;
	}
	.title-section {
		font-size: 44px;
		line-height: 57px;
	}
	.item-publication__content {
		padding: 23px;
		padding-bottom: 35px;
	}
	.item-publication__image {
		height: 245px;
	}
	.item-direction__image {
		transform: scale(0.9);
	}
	.title-middle {
		font-size: 32px;
		line-height: 44px;
	}
	.min-news {
		padding-top: 27px;
		padding-bottom: 17px;
	}
	.header-bottom__buttons {
		margin-left: 65px;
	}
	.item-question__head {
		padding: 30px 30px; 
		font-size: 22px;
	}
	.title-block {
		font-size: 21px;
	}
	.applicants-sidebar {
		padding: 27px;
	}
	.applicants .item-question__head {
		padding: 31px 30px;
	}

}
@media only screen and (max-width : 1600px) {
	.container_page {
		max-width: 1300px;
	}
	.info-graduate {
		font-size: 27px;
	}
	.item-program__title {
		font-size: 24px;
		line-height: 34px;
		margin-bottom: 25px;
	}
	.item-program__info {
		font-size: 22px;
		margin-bottom: 22px;
	}
	.item-education {
		font-size: 26px;
	}
	.applicants .item-question__head {
		padding: 33px 30px;
	}
	.programs .table-wrap th, .programs .table-wrap td {
		padding-left: 18px;
		padding-right: 18px;
	}
	.item-administration {
		padding: 19px;
		padding-bottom: 13px;
	}
	.administration-main {
		padding-right: 415px;
	}
	.structure-main::before {
		width: 969px;
	}
	.about-page .item-graduate {
		padding: 0 20px;
	}
}
@media only screen and (max-width : 1450px) {
	body {
		font-size: 14px;
		line-height: 24px;
	}
	.menu {
		font-size: 13px;
	}
	.header-bottom__buttons {
		margin-left: 30px;
	}
	.form-search,
	.btn-header {
		margin-left: 18px;
	}
	.logo__name {
		font-size: 15px;
	}
	.logo__descr {
		font-size: 11px;
	}
	.logo img {
		width: 51px;
	}
	.logo-min img {
		width: 100px;
	}
	.slick-current .slider-billbord__title {
		font-size: 22px;
	}
	.title-section {
		font-size: 36px;
		line-height: 42px;
	}
	.news .title-section {
		padding-top: 25px;
		padding-bottom: 30px;
	}
	.news-image .title-news, .min-news .title-news {
		margin-bottom: 20px;
	}
	.news-image .title-news {
		padding: 15px;
	}
	.right-news::before {
		left: -30px;
	}
	.left-news {
		padding-right: 40px;
	}
	.link-page {
		font-size: 15px;
	}
	.link-page i {
		font-size: 23px;
		margin-left: 12px;
	}
	.list-tags a {
		padding: 0px 6px;
		font-size: 11px;
	}
	.news-image {
		height: 185px;
		margin-bottom: 20px;
	}
	.about {
		padding: 70px 0;
	}
	.item-publication__image {
		height: 205px;
	}
	.item-publication__content {
		padding: 15px;
		padding-bottom: 25px;
	}
	.logo-menu {
		margin-right: 25px;
	}
	.fixed .header-bottom__buttons {
		margin-left: 20px;
	}
	.list-social li {
		margin-right: 29px;
	}
	.container.container_page {
		max-width: 1050px;
	}
	.item-graduate {
		font-size: 21px;
		padding-left: 15px;
	}
	.info-graduate {
		font-size: 21px;
	}
	.item-program {
		margin: 0 7px;
	}
	.slider-programs {
		margin: 0 -7px;
	}
	.item-program__content {
		padding: 20px;
	}
	.item-program__title {
		font-size: 20px;
		line-height: 30px;
		margin-bottom: 20px;
	}
	.item-program__info {
		font-size: 19px;
		margin-bottom: 19px;
	}
	.item-program__image {
		height: 220px;
	}
	.item-graduate::before {
		right: -160px;
	}
	.item-staff__name {
		font-size: 20px;
		line-height: 28px;
	}
	.item-education {
		font-size: 23px;
	}
	.item-education__image {
		right: 17px;
		transform: scale(0.95);
		transform-origin: 100% 100%;
	}
	.card-person {
		padding: 33px 15px;
	}
	.card-person__image {
		width: 250px;
		height: 250px;
	}
	.item-education::before {
		right: -124px;
	}
	.item-question__head {
		padding: 28px 32px;
		font-size: 22px;
	}
	.title-block {
		font-size: 19px;
	}
	.applicants-sidebar {
		padding: 35px;
	}
	.applicants .item-question__head {
		padding: 32px 30px;
	}
	.programs .table-wrap  {
		font-size: 14px;
	}
	.programs .table-wrap th {
		font-size: 15px;
	}
	.programs .table-wrap th, .programs .table-wrap td {
		padding-left: 15px;
		padding-right: 15px;
	}
	.text-school {
		padding: 58px 140px;
	}
	.callback-main {
		padding: 35px 200px;
		background-size: 180px auto;
	}
	.text-school_additional {
		padding: 58px 70px;
	}
	.unit-section {
		font-size: 16px;
		line-height: 25px;
	}
	.row_administration {
		margin: 0 -7px;
	}
	.row_administration > div {
		padding: 0 7px;
	}
	.item-administration {
		padding: 15px;
		padding-bottom: 11px;
		font-size: 13px;
		line-height: 20px;
	}
	.administration-main__image {
		margin-right: 30px;
	}
	.administration-main {
		padding-right: 270px;
	}
	.btn-doc {
		height: 65px;
		font-size: 16px;
		padding: 0 10px;
		padding-right: 20px;
	}
	.btn-doc i {
		margin-right: 10px;
	}
	.buttons-vacancies .btn-doc {
		margin-right: 7px;
	}
	.text-vacancies {
		font-size: 16px;
	}
	.item-question__content {
		padding-left: 30px;
		padding-right: 30px;
	}
	.page-numbers {
		margin: 0 7px;
	}
	.structure-item {
		font-size: 17px;
	}
	.structure-main::before {
		width: 780px;
	}
	.structure-subitem {
		font-size: 16px;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.menu {
		font-size: 11px;
	}
	.header-bottom__buttons {
		margin-left: 10px;
	}
	.container {
		padding: 0 25px;
	}
	.language-list {
		font-size: 13px;
		line-height: 14px;
		margin-left: 11px;
	}
	.form-search,
	.btn-header {
		margin-left: 14px;
	}
	.logo__descr {
		font-size: 9px;
	}
	.logo__name {
		font-size: 13px;
	}
	.slider-billbord {
		height: 400px;
	}
	.icon-play {
		margin-right: 15px;
	}
	.slick-current .slider-billbord__title {
		font-size: 18px;
	}
	.slider-billbord__title {
		font-size: 18px;
	}
	.social-vertical a {
		font-size: 13px;
	}
	.social-vertical li {
		margin-top: 13px;
	}
	.title-section {
		font-size: 32px;
		line-height: 38px;
	}
	.title-middle {
		font-size: 25px;
		line-height: 36px;
	}
	.title-text {
		font-size: 20px;
		padding-left: 54px;
		margin-bottom: 25px;
	}
	.about__right {
		padding-right: 15px;
	}
	.list-page {
		font-size: 18px;
	}
	.list-page li::before {
		top: 3px;
	}
	.descr-big {
		font-size: 27px;
		line-height: 31px;
	}
	.slider-partners {
		margin-top: 60px;
	}
	.partners {
		padding-top: 55px;
		padding-bottom: 80px;
	}
	.footer__bottom {
		font-size: 11px;
	}
	.footer .language-list li {
		margin-right: 14px;
	}
	.btn-footer {
		margin-right: 20px;
	}
	.footer .logo__descr {
		line-height: 12px;
	}
	.footer .logo__name {
		font-size: 11px;
	}
	.title-text::before {
		bottom: 3px;
	}
	.fixed .header-bottom__buttons {
		margin-left: 6px;
	}
	.logo-menu {
		margin-right: 15px;
	}
	.list-social li {
		margin-right: 22px;
	}
	.wrapper {
		padding-top: 129px;
	}
	.title-section_page {
		padding-top: 35px;
		padding-bottom: 25px;
	}
	.item-graduate__image {
		transform: scale(0.9);
		transform-origin: 100% 100%;
	}
	.item-graduate {
		height: 220px;
	}
	.item-graduate::before {
		left: 170px;
	}
	.title-page {
		font-size: 24px;
		line-height: 35px;
	}
	.for-graduate {
		padding: 56px 35px;
	}
	.for-graduate__image {
		right: 40px;
	}
	.container.container_page {
		max-width: 905px;
	}
	.item-program {
		margin: 0 15px;
	}
	.slider-programs {
		margin: 0 -15px;
	}
	.item-staff__image {
		margin-right: 25px;
	}
	.link-doc {
		font-size: 19px;
	}
	.card-person__name {
		font-size: 19px;
		line-height: 29px;
	}
	.item-education::before {
		right: -182px;
	}
	.simple-doc {
		font-size: 18px;
	}
	.item-question__inner {
		padding: 0;
	}
	.applicants-sidebar {
		padding: 20px;
	}
	.title-block {
		font-size: 19px;
	}
	.portfolio {
		padding-bottom: 100px;
	}
	.programs .table-wrap {
		font-size: 12px;
	}
	.programs {
		padding-bottom: 80px;
	}
	.text-school {
		padding: 58px 90px;
		font-size: 16px;
		line-height: 27px;
	}
	.callback-main {
		padding: 35px 100px;
	}
	.administration-main {
		padding-right: 20px;
	}
	.page-numbers {
		width: 30px;
		height: 30px;
		font-size: 15px;
	}
	.structure-main {
		height: 80px;
		font-size: 20px;
	}
	.structure-main::before {
		width: 670px;
	}
	.structure-item::before {
		height: 79px;
	}
	.structure-item {
		font-size: 15px;
	}
	.structure-subitem {
		font-size: 14px;
	}
	.structure-item_main::before {
		height: 900px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.billbord__wrap {
		padding-right: 0;
	}
	.social-vertical {
		display: none;
	}
	.rev_slider .slick-list {
		padding-left: 15% !important;
		padding-right: 15% !important;
	}
	.rev_slider .slick-snext {
		transform: translate3d(12%, 0, -10px);
	}
	.rev_slider .slick-snext2 {
		transform: translate3d(22%, 0, -20px);
	}
	.rev_slider .slick-sprev {
		transform: translate3d(-12%, 0, -10px);
	}
	.rev_slider .slick-sprev2 {
		transform: translate3d(-22%, 0, -20px);
	}
	.prev_billbord {
		left: 8%;
	}
	.next_billbord {
		right: 8%;
	}
	.news-image {
		height: 260px;
	}
	.about .title-section {
		margin-top: 0;
	}
	.about__right {
		padding-top: 20px;
	}
	.footer__content {
		padding-top: 15px;
		display: none;
	}
	.footer__title {
		padding: 15px 0;
		border-bottom: 1px solid #fff;
		margin: 0;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.footer .logo {
		max-width: 320px;
		margin-bottom: 22px;
	}
	.footer__buttons {
		margin-bottom: 15px;
	}
	.footer {
		padding-top: 25px;
	}
	.partners {
		padding-top: 35px;
		padding-bottom: 45px;
	}
	.slider-partners {
		margin-top: 35px;
	}
	.footer__bottom {
		border: none;
	}
	.header-bottom__buttons {
		padding: 10px 0;
		position: fixed;
		bottom: 0;
		left: 0;
		margin: 0;
		width: 100%;
		z-index: 800;
		box-shadow: 0px 0px 10px rgb(150 175 184 / 20%);
		justify-content: space-around;
		background-color: #fff;
	}
	.language-list {
		margin: 0;
		display: flex;
		align-items: flex-start;
	}
	.language-list li {
		margin-left: 20px;
	}
	.logo-min {
		display: none;
	}
	.header-top .logo {
		display: none;
	}
	.left-news {
		padding-right: 15px;
	}
	.footer {
		padding-bottom: 60px;
	}
	.logo-menu {
		display: inline-block;
	}
	.header-bottom__wrap {
		padding-right: 55px;
	}
	.fixed .btn_nav,
	.btn_nav {
		top: 19px;
		position: absolute;
	}
	.header-top {
		padding: 0;
		border: none;
	}
	.fixed .logo-menu img,
	.logo-menu img {
		width: 55px;
	}
	.header-bottom {
		padding: 10px 0;
	}
	.fixed .btn-header_eye {
		display: flex;
	}
	.fixed .language-list {
		visibility: visible;
		opacity: 1;
	}
	.fixed .header-bottom__buttons {
		margin: 0;
	}
	.header-bottom .menu {
		display: none;
	}
	.wrapper {
		padding-top: 79px;
	}
	.header__contacts {
		display: flex;
		position: absolute;
		top: 14px;
		right: 70px;
	}
	.fixed .header-top .header__contacts {
		display: flex;
	}
	.header-bottom__buttons .language-list {
		display: none;
	}
	.menu-list {
		display: none;
	}
	.menu-main .menu a,
	.menu-main__title {
		font-size: 16px;
		line-height: 26px;
		font-weight: 500;
		padding: 10px 0;
		border-bottom: 1px solid #fff;
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 0;
	}
	.menu-main {
		position: absolute;
		height: 100vh;
		max-height: 100vh;
		overflow: auto;
		padding: 20px 0;
		padding-bottom: 130px;
		z-index: 900;
	}
	.footer__title i {
		transition: all 0.3s;
	}
	.footer__title.active i {
		transform: rotate(45deg);
	}
	.footer__nav li {
		margin-bottom: 15px;
	}

	div.menu-main__title {
		position: relative;
	}
	.menu-main .menu .menu__haschild > a::after,
	div.menu-main__title::after {
		font-size: 14px;
		font-weight: 300;
		-moz-osx-font-smoothing: grayscale;
		-webkit-font-smoothing: antialiased;
		display: inline-block;
		font-style: normal;
		font-variant: normal;
		text-rendering: auto;
		line-height: 1;
		font-family: "Font Awesome 5 Pro";
		content: "\f067";
		transition: all 0.3s;
	}
	.menu-main .menu .menu__haschild.active > a::after,
	div.menu-main__title.active::after {
		transform: rotate(45deg);
	}
	.menu-main .menu {
		display: block;
	}
	.menu-main .menu a {
		text-align: left;
		height: initial;
	}
	.menu ul {
		visibility: visible;
		opacity: 1;
		position: relative;
		top: 0;
		left: 0;
		background-color: transparent;
		box-shadow: none;
		width: 100%;
		padding: 0;
		padding-top: 15px;
		display: none;
	}
	.menu-main .menu ul a {
		padding: 0;
		border: none;
		font-weight: 400;
		font-size: 14px;
	}
	.search-form {
		max-width: 100%;
		margin-bottom: 20px;
	}
	.form-search,
	.btn-header {
		margin-left: 0px;
	} 
	.menu-main .menu a:hover,
	.menu-main__title:hover {
		color: #fff;
	}
	.list-social li {
		margin-right: 28px;
	}
	.list-social {
		font-size: 16px;
		margin-top: 25px;
		margin-bottom: 15px;
	}
	.menu-main .language-list a {
		color: #96afb8;
		border-color: transparent;
	}
	.for-graduate__content {
		max-width: 330px;
	}
	.for-graduate {
		font-size: 16px;
		padding: 30px 35px;
		margin-top: 60px;
	}
	.for-graduate .btn-main {
		margin-top: 20px;
	}
	.for-graduate__image img {
		max-width: 300px;
	}
	.container.container_page {
		padding: 0 25px;
	}
	.slider-programs {
		padding-bottom: 40px;
	}
	.additional-education {
		padding-bottom: 50px;
	}
	.item-education::before {
		right: -105px;
	}
	.card-person {
		margin-top: 30px;
		min-height: initial;
	}
	.item-question__head {
		padding: 20px 20px;
		font-size: 19px;
	}
	.item-question__content {
		padding: 30px;
		padding-top: 50px;
	}
	.simple-doc {
		font-size: 16px;
	}
	.simple-doc i {
		font-size: 19px;
		margin-right: 20px;
	}
	.tabs-years a {
		padding: 8px 0;
	}
	.tabs-years {
		font-size: 30px;
		line-height: 50px;
		padding-right: 35px;
	}
	.year-graduate {
		padding-bottom: 20px;
	}
	.graduate {
		padding-bottom: 40px;
	}
	.applicants__left {
		padding-right: 15px;
	}
	.applicants-sidebar {
		padding: 35px;
		margin-left: 0;
	}
	.portfolio .card-person {
		margin-bottom: 25px;
		padding-bottom: 40px;
	}
	.programs .table-wrap {
		font-size: 14px;
	}
	.unit-section {
		font-size: 14px;
		line-height: 23px;
	}
	.international-activity .table-wrap th {
		padding-top: 15px;
		padding-bottom: 15px;
	}
	.title-small {
		font-size: 22px;
		line-height: 31px;
	}
	.sidebar-filter {
		margin-right: 0;
	}
	.news-page {
		padding-top: 30px;
		padding-bottom: 40px;
	}
	.news-page__right {
		padding-left: 15px;
		padding-top: 15px;
	}
	.sidebar-filter {
		display: none;
	}
	.btn-main_filter {
		width: 100%;
		margin-bottom: 15px;
		height: 55px;
		padding: 0 30px;
		text-transform: uppercase;
		justify-content: space-between;
	}
	.structure-item::before {
		display: none;
	}
	.structure-item {
		padding: 20px 10px;
		min-height: initial;
	}
	.structure-subitem {
		padding: 20px 10px;
		min-height: initial;
	}
	.structure {
		padding-bottom: 40px;
	}
	.structure-main::before {
		display: none;
	}
	.structure-main {
		font-size: 18px;
		padding: 20px 15px;
		margin-bottom: 15px;
		height: initial;
	}
	.structure-subitem_hidden {
		display: none;
	}
	.structure-item_main {
		margin-top: 15px;
	}
	.structure-subitem {
		max-width: 100%;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.slider-billbord__content {
		padding: 20px 15px;
	}
	.slider-billbord__title,
	.slick-current .slider-billbord__title {
		font-size: 15px;
	}
	.slider-billbord {
		height: 310px;
	}
	.arrow-billbord {
		top: 46%;
	}
	.left-news .col-lg-8 {
		margin-top: 25px;
	}
	.title-middle {
		font-size: 22px;
		line-height: 31px;
	}
	.title-text {
		font-size: 18px;
		padding-left: 51px;
		margin-bottom: 20px;
	}
	.about {
		padding: 45px 0;
	}
	.directions {
		padding-top: 30px;
		padding-bottom: 50px;
	}
	.row_directions > div {
		margin-top: 25px;
	}
	.head-section {
		display: block;
	}
	.head-section .link-page {
		margin-top: 15px;
	}
	.slider-publications {
		margin: 0 -15px;
	}
	.title-section {
		font-size: 24px;
		line-height: 35px;
	}
	.vacancy .title-section {
		padding-bottom: 15px;
	}
	.list-page li {
		padding-left: 33px;
	}
	.descr-big {
		font-size: 23px;
		line-height: 28px;
	}
	.vacancy {
		background-position: 30% 50%;
	}
	.slider-partners {
		padding: 0;
		padding-bottom: 40px;
	}
	.partners {
		padding-top: 35px;
		padding-bottom: 35px;
	}
	.footer__bottom {
		margin: 0;
		text-align: center;
	}
	.footer__bottom .row > div {
		padding-top: 6px;
		padding-bottom: 6px;
	}
	.btn_top {
		float: none;
	}
	.news .head-section .title-section {
		padding-bottom: 0;
	}
	.news .head-section {
		padding-bottom: 20px;
	}
	.list-tags a {
		padding: 2px 8px;
		font-size: 12px;
	}
	.title-page {
		font-size: 20px;
		line-height: 30px;
	}
	.info-graduate {
		font-size: 21px;
		padding: 15px 19px;
	}
	.title-section_page {
		padding-top: 25px;
		padding-bottom: 15px;
	}
	.item-graduate {
		padding-right: 120px;
	}
	.for-graduate__image {
		right: -82px;
	}
	.for-graduate {
		margin: 0 -25px;
		margin-top: 60px;
		padding: 30px 20px;
	}
	.for-graduate__content {
		max-width: 280px;
	}
	.additional-education .col-lg-6 .item-graduate__image {
		right: 0;
	}
	.breadcrumbs {
		padding: 15px 0;
	}
	.teaching-staff .title-section {
		padding-bottom: 20px;
	}
	.teaching-staff {
		padding-bottom: 40px;
	}
	.item-education::before {
		right: -190px;
	}
	.item-education {
		font-size: 21px;
		height: 225px;
		padding-left: 15px;
	}
	.item-education__image {
		transform: scale(0.7);
	}
	.education-main {
		padding-top: 0;
	}
	.link-doc {
		padding: 15px 15px;
	}
	.link-doc i {
		margin-right: 20px;
	}
	.item-question__head {
		padding: 15px 15px;
		font-size: 17px;
		line-height: 26px;
	}
	.item-question__head .fa-chevron-down,
	.item-question__head .fa-file {
		width: 35px;
		height: 35px;
		font-size: 15px;
		margin-right: 15px;
	}
	.item-question__head .fa-chevron-down {
		margin-right: 0;
		font-size: 13px;
	}
	.tab-container-years {
		padding-left: 20px;
	}
	.simple-doc i {
		font-size: 18px;
		margin-right: 9px;
	}
	.studying-proccess {
		padding-bottom: 40px;
	}
	.studying-proccess .title-section {
		padding-bottom: 20px;
	}
	.applicants .item-question__head {
		padding: 15px;
	}
	.applicants .item-question {
		margin-bottom: 20px;
	}
	.applicants-sidebar {
		padding: 25px;
	}
	.applicants {
		padding-bottom: 55px;
	}

	.table-wrap th {
		font-size: 16px;
		padding: 13px 16px;
	}
	.table-wrap td {
		padding: 16px;
	}
	
	.table-wrap table {
		width: 700px;
	}
	.table-wrap {
		margin-right: -25px;
		overflow: auto;
	}
	.portfolio {
		padding-bottom: 50px;
	}
	.programs {
		padding-bottom: 50px;
	}
	.modal-wrap .title-page {
		padding-bottom: 14px;
	}
	.modal-wrap {
		padding: 20px;
	}
	.for-graduate .btn-main {
		font-size: 17px;
		line-height: 26px;
		height: 55px;
		width: initial;
	}
	.text-school {
		padding: 34px 40px;
		font-size: 15px;
		line-height: 25px;
	}
	.callback-main {
		padding: 35px;
	}
	.callback-main .title-section {
		padding-bottom: 15px;
	}
	.links-doc {
		padding-top: 0;
	}
	.unit-section {
		padding: 30px 20px; 
	}
	.unit-section::before {
		top: -200px;
	}
	.unit-section__image {
		width: 200px;
		height: 140px;
		display: none;
	}
	.international-activity .unit-section {
		margin-bottom: 30px;
	}
	.title-small {
		font-size: 17px;
		line-height: 27px;
		padding-bottom: 15px;
	}
	.administration-main {
		display: block;
	}
	.administration-main__image {
		margin: 0;
	}
	.administration-main {
		padding-bottom: 30px;
	}
	.item-administration {
		font-size: 14px;
		line-height: 21px;
		padding: 20px;
		padding-bottom: 13px;
	}
	.vacancies .item-question__head {
		padding-top: 15px;
		padding-bottom: 15px;
	}
	.text-vacancies {
		font-size: 14px;
		line-height: 22px;
	}
	.text-vacancies li {
		margin-bottom: 10px;
	}
	.buttons-vacancies {
		flex-direction: column;
		align-items: flex-start;
	}
	.buttons-vacancies .btn-doc {
		margin-right: 0;
		width: 100%;
		justify-content: flex-start;
	}
	.btn-doc i {
		margin-right: 20px;
	}
	.vacancies {
		padding-bottom: 40px;
	}
	.buttons-vacancies {
		padding-top: 0;
	}
	.buttons-vacancies .btn-doc:first-child {
		margin-top: 0;
	}
	.page-numbers:nth-child(n+7) {
		display: none;
	}
	.pager {
		margin-top: 5px;
	}
	.tabs a {
		height: 43px;
		padding: 0 16px;
		margin-right: 14px;
		min-width: 196px;
		font-size: 15px;
	}
	.about-page .title-section {
		padding-bottom: 25px;
	}
	.about-page {
		padding-top: 30px;
		padding-bottom: 35px;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.billbord__wrap {
		margin: 0 -6px;
	}
	.slider-billbord__title, .slick-current .slider-billbord__title {
		font-size: 13px;
	}
	.container {
		padding: 0 15px;
	}
	.date-item {
		margin-bottom: 15px;
	}
	.title-middle {
		font-size: 18px;
		line-height: 25px;
	}
	.publications {
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.title-section {
		font-size: 22px;
		line-height: 34px;
	}
	.list-page {
		font-size: 16px;
	}
	.list-page li {
		margin-bottom: 15px;
	}
	.descr-big {
		font-size: 18px;
		line-height: 25px;
	}
	.about {
		padding-bottom: 25px;
	}
	.prev_billbord {
		left: 10%;
	}
	.next_billbord {
		right: 10%;
	}
	.form-search input:focus {
		width: calc(100vw - 45px);
		max-width: 400px;
	}
	.container.container_page {
		padding: 0 15px;
	}
	.item-graduate {
		padding-right: 85px;
	}
	.item-graduate {
		height: 200px;
		line-height: 33px;
	}
	.title-page {
		font-size: 17px;
		line-height: 26px;
	}
	.item-program__info {
		font-size: 17px;
		margin-bottom: 15px;
	}
	.item-staff__name {
		font-size: 17px;
		line-height: 25px;
	}
	.item-staff__image {
		margin-right: 15px;
	}
	.item-education {
		font-size: 18px;
	}
	.item-education::before {
		right: -204px;
	}
	.item-education__image {
		right: 0;
	}
	.link-doc {
		padding: 15px;
		font-size: 16px;
		line-height: 25px;
	}
	.education {
		padding-bottom: 55px;
	}
	.simple-doc {
		font-size: 14px;
	}
	.item-question__content {
		padding: 15px;
		padding-top: 35px;
	}
	.item-question__head {
		font-size: 15px;
		line-height: 22px;
	}
	.tabs-years {
		font-size: 24px;
		line-height: 40px;
		padding-right: 20px;
	}
	.line-graduate .item-staff {
		padding: 14px;
	}  
	.title-block {
		font-size: 17px;
		margin-bottom: 15px;
	}
	.applicants-sidebar { 
		padding: 20px;
	}
	.portfolio .card-person { 
		padding-bottom: 30px;
	}
	.portfolio__right p {
		margin-bottom: 15px;
	}
	.checkbox {
		margin-top: 20px;
	}
	.text-school {
		padding: 20px 20px;
		font-size: 14px;
		line-height: 23px;
	}
	.callback-main {
		padding: 25px 15px;
		background-image: none;
	}
	.item-administration__image {
		margin-bottom: 15px;
	}
	.title-main {
		font-size: 20px;
		line-height: 29px;
		margin-bottom: 12px;
	}
	.btn-doc {
		font-size: 14px;
	}
	.btn-doc i {
		margin-right: 10px;
	}
	.tabs a {
		height: 42px;
		padding: 0 11px;
		margin-right: 10px;
		min-width: 160px;
		font-size: 14px;
	}
	.tab-container {
		padding-top: 20px;
	}
	.title-min {
		font-size: 16px;
		margin-bottom: 12px;
	}
	.sidebar-filter {
		padding: 17px 15px;
	}
	.checkbox_main {
		margin-top: 15px;
	}
	.about-page .item-graduate {
		height: 200px;
		font-size: 19px;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.sidebar-filter,
	.footer__content {
		display: block !important;
	}
	.btn-main_filter,
	.menu-main__mobile,
	.menu-main .menu,
	.footer__title i {
		display: none !important;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
@media (min-width: 1600px) {
	.container {
		max-width: 100%;
	}
	.container_page {
		max-width: 1390px;
	}
}